.line {
  max-width: 80%;
}

.bubble {
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  max-width: 80%;
}

.myBubble {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.otherBubble {
  align-self: flex-start;
  background-color: #ffffff;
}
.time {
  font-size: 0.8em;
  text-align: right;
  width: 80%;
}
